VITE_RESEND_API_KEY=""
VITE_RECEIVER_EMAIL=""

# Satellite Links
VITE_GMAIL_URL="mailto:contact@founder.dev"
VITE_LINKEDIN_URL="https://linkedin.com/in/yourprofile"
VITE_GITHUB_URL="https://github.com/yourusername"
VITE_TWITTER_URL="https://x.com/yourusername"
